*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;
}

ul {
    list-style-type: none;
}

header {
    background-color: #EAEAEA;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

header h1 {
    font-size: 25px;
}

header li {
    display: inline-block;
}

header li a {
    display: block;
    color: white;
    text-decoration: none;
    background-color: #1C4576;
    margin: 0px 5px;
    padding: 3px 12px;
    font-size: 10px;
    border-radius: 10px;
}

header li a:hover {
    background-color: black;
}

.visual {
    background-image: url(../image/visu.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    text-align: right;
    padding-top: 150px
}

.visual h2 {
    font-size: 60px;
}

.content {
    display: flex;
}

.content h3{
    font-weight: 100;
    font-size: 50px;
}

.content aside {
    width: 25%;
    background-color: #EAEAEA;
    margin-right: 5px;
    padding: 20px 10px 100px;
}

.content ul li {
    background-color: #007300;
    text-align: center;
    margin-top: 5px
}

.content aside a{
    text-decoration: none;
    color: white;
}

.content article {
    width: 75%;
    background-color: #EAEAEA;
    padding: 20px 10px;
}

.content2 ul{
    display: flex;
    justify-content: space-between;
}

.content2 li {
    display: inline-block;
    /* width: calc(100%/5 - 2px); */
    background-color: #6C64FF;
}

.contnet2 li a {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
}



