*{margin:0; padding:0; box-sizing: border-box;}

#container {
    width: 800px;
    height: 800px;
    background-color: rgb(195, 194, 194);
    margin: auto;
    position: relative;
    overflow: hidden;
}
.box {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    position: absolute;
}

.b01 {
    left: 100px;
    top: 100px; 
    background-color: yellow;
    z-index: 2;
} 
.b02 {
    left: 150px;
    top: 150px; 
    background-color: rgb(0, 255, 51);
}
/* HTML상으로 제일 뒤쪽에 있는 것이 z-index가 젤 높다. */
.b03 {
    left: 200px;
    top: 200px; 
    background-color: rgb(0, 234, 255);
}
.b04 {
    right: -50px;
    top: 0;
    background-color: yellowgreen;
}  
.b05 {
    /* top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px; */
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}